@media (max-width: 1440px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .tile-box {
        height: 170px;
    }
}

@media (max-width: 1024px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 18px;

    }

    .tile-box {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .main-box {
        padding-left: 13px;
    }

    .quicksearch {

        padding: 2% 0 2% 0;
        width: 90%;
    }

    .tile-box {
        padding: 28px 0 28px 0px;

    }
}

@media (max-width: 576px) {
    .quicksearch {
        padding: 0px 0px 0px 0px;
        width: 100%;

    }

    .main-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 0;

    }

    .tile-box {
        height: 300px;

    }

    .quickHeading {
        padding-left: 1px;
        font-size: 50px;

    }

    .quickSubHeading {
        padding-left: 1px;
        letter-spacing: 1px;
        font-size: 35px;
        font-family: normal;
        white-space: no-wrap;

    }
}

@media (max-width: 425px) {
    .quicksearch {
        padding: 0px 0px 0px 0px;
        width: 100%;

    }

    .tile-box {
        height: 300px;

    }

    .quickHeading {
        padding-left: 1px;
        font-size: 35px;
    }

    .quickSubHeading {
        font-size: 27px;
        font-family: normal;
        font-weight: normal;

    }
}

@media (max-width: 375px) {
    .quicksearch {
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .tile-box {
        height: 350px;

    }

    .quickHeading {
        padding-left: 1px;
        font-size: 35px;
    }

    .quickSubHeading {
        font-size: 23px;
        font-family: normal;
        font-weight: normal;

    }

    .tile_content>a {
        font-size: 32px;
    }

    .tile_content>p,
    span {
        font-size: 25px;
    }
}

@media (max-width: 320px) {


    .tile-box {
         height: 275px;
        flex-direction: row;
    }

    .quickHeading {
        padding-left: 1px;
        font-size: 35px;
    }

    .quickSubHeading {
        font-size: 30px;
        font-family: normal;
        font-weight: normal;

    }

    .tile_content>a {
        font-size: 32px;
    }

    .tile_content>p,
    span {
        font-size: 25px;
    }
}

@media (min-width: 1441px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 57px;
        /* padding: 28px 0 28px 48px; */
        padding-left: 43px;
    }

    .tile-box {
        height: 225px;
    }

    .quickHeading {
        padding-left: 43px;
        font-size: 58px;

    }

    .quickSubHeading {
        padding-left: 43px;
        font-size: 45px;

    }


}