body {
    margin: auto;
    -webkit-scrollbar: none;
}

/* < !-- header section --> */
header {
    height: 50px;
    background-color: #1a0909;
}

.brand {
    color: aliceblue;
    font-size: 35px;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
}

.social {
    float: right;
    margin-right: 15px;

}

.social>a {
    text-decoration: none;
}

.social>a>img {
    height: 35px;
    width: 45px;
    border-radius: 50%;
    margin-top: 7px;
}

/* < !-- search section --> */
.search {
    height: 450px;
    border: 1px solid black;
    background-image: url("./images/search.png");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-size: 100% 450px;
}

.logo {
    height: 75px;
    width: 85px;
    background-color: azure;
    border-radius: 50%;
    position: absolute;
    margin: 5px 0px 0px 46%;
}

.logo>span {
    font: bold 55px roboto;
    color: firebrick;
    position: absolute;
    margin: 7px 0px 0px 20%;
}
.heading{
       font:   50px roboto;
       letter-spacing: 3px;
    color:  rgb(12, 11, 11);
    position: absolute;
    margin: 7% 0px 0px 27%;
}