@media (max-width: 1440px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .tile-box {
        height: 170px;
    }
}

@media (max-width: 1024px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 18px;

    }

    .tile-box {
        height: 150px;
    }
}

@media (max-width: 768px) {
    .main-box {
        padding-left: 13px;
    }

    .tile-box {}
}

@media (max-width: 576px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 7px;

    }

    .tile-box {
        height: 150px;
    }
}

@media (min-width: 1441px) {
    .main-box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 57px;
        /* padding: 28px 0 28px 48px; */
        padding-left: 43px;
    }

    .tile-box {
        height: 225px;
    }

    .quickHeading {
        padding-left: 43px;
    }

    .quickSubHeading {
        padding-left: 43px;

    }


}